@import './fonts.css';
@import './base.css';
@import './helpers.css';
/* COMPONENTS */

/* header */

.main-header {
  box-shadow: inset 0 -1px 0 #DBDBDB;
  padding: 9px 20px;
}

.logo-img {
  height: 32px;
  width: 152px;
}

.main-nav>:not(:first-child) {
  margin-inline-start: 50px;
}

/* main */

.main-content {
  background-color: #E5E5E5;
  padding: 20px 10px;
}

.cards-gallery {
  gap: 20px;
}

/* card */

.card {
  height: 170px;
  width: 170px;
}

.card img {
  object-fit: cover;
  height: 100%;
}

/* editor-modal */

.meme-editor-modal {
  background-color: white;
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
}

.editor-canvas-container {
  width: 60%;
}

.editor-canvas-container canvas {
  margin: 0 auto;
}

.editor-main-container {
  background-color: #F8F8F8;
  padding: 30px;
  width: 40%;
}

.editor-header button {
  background-color: white;
  border: 0;
  height: 15px;
  padding: 0;
  width: 15px;
}

.editor-content {
  border: 1px solid #EBEBEB;
  border-radius: 10px;
}

.editor-content input {
  border: 0;
  padding: 20px;
  width: 100%;
}

.editor-content-actions {
  border-bottom: 1px solid #DEDEDE;
}

/* MEDIA QUERIES */

/* LARGE */

@media (min-width: 1020px) {
  .main-content {
    padding: 30px;
  }
  .cards-gallery {
    gap: 15px;
  }
  .card {
    height: 210px;
    width: 210px;
  }
}